h1{
    color: #e5383b;
    font-weight: bold;
    text-transform: uppercase;
}

body{
    background-color: #000000;
}

.categories{
   
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.highlight{
    font-weight: bold;
    color: #e5383b;
}

.products:hover{
    color: #e5383b;
    text-decoration: none;
}

hr{
    border-color: #e5383b;

}

.product{
    background-color: white;
}



h2{
    font-weight: bold;
}

.footer2{
    padding-top: 20px;
}

li{
    list-style: none;
}

.newsletter{
    background-color: #e5383b;
    padding: 10px 5px;
    border-radius: 10px;
}

.productcard:hover{
    opacity: 0.3;
}


.pay-form{
    background-color: black;
    color: white;
    font-weight: bold;
    border: #e5383b solid 5px;
    padding: 50px;
}

.u-profile{
    color: white;
    font-weight: bold;
    border: #e5383b solid 5px;
    padding: 50px;
}

.checked {
    color: red;
}

/*.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}*/

