h1{
    color: #e5383b;
    font-weight: bold;
    text-transform: uppercase;
}

body{
    background-color: #000000;
}

.categories{
    background-color: #4cc9f0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.highlight{
    font-weight: bold;
    color: #e5383b;
}

.products{
    margin: 40px;
}

hr{
    border-color: #e5383b;

}

.product{
    background-color: white;
}

.information{
    color: #4cc9f0;
}

h2{
    font-weight: bold;
}