{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <h2 class="text-center highlight">{{products.count}} item(s) available</h2>
     <br><div class="row">
            {% for product in products %}
            <a href="{% url 'product' product.id %}" class="productcard">
                <div class="col-sm-12 col-md-6 col-lg-4 card mb-4">
                    {% cloudinary product.image format="jpg" width=300 height=200 crop="" %}
                    <h5 class="text-info font-weight-bold"><a href="{% url 'product' product.id %}" class="products">{{product.name}}</a></h5>
                    <h6 class="white">Ksh. <strong>{{product.price}}</strong></h6>
                </div>
            
            </a>
            {% endfor %}
        </div><br>
</div>
{% endblock %}