<div class="bg-danger text-white footer2">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h5 class="text-center">CONTACT US</h5>
                <ul>
                    

                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                      </svg> (617) 555-7854335</li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                      </svg> support@apptheme.test</li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                      </svg>  400 Mian st, Boston MA</li>
                </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h5 class="text-center">ABOUT US</h5>
            <p>Albany eShop is your number one Online Shopping solution. You can purchase all electronic devices like mobile phones, tablets, computers & laptopse online and have them delivered to you. Albany has payment options that suit everyone, and we have a payment-on-delivery option for extra convenience.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h5 class="text-center">SUBSCRIBE to Albany eShop</h5>
        </div>
    </div>
</div>
<div class="footer bg-light text-dark">
    <div class="container text-center font-weight-bold">
        Copyright &copy; 2021 | ALBANY-eShop
    </div>
</div>
