{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <br><h1 class="text-center font-weight-bold">Online Shopping with Albany e-Store - Kenya's No 1 Online Store</h1><br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 newsletter">
            <p class="text-center text-light">Subscribe to our newsletter to get updates on our latest offers!
            </p>
            <form  action="{%url 'homePage'%}" method="post">
                {%csrf_token%}
            
                {% bootstrap_form form layout='inline' %}
                <input class="btn btn-dark btn-sm" type="submit" value="Subscribe">
            </form>
        </div>
        <div class="col-md-12 col-lg-9">
            <div class="categories bg-info">
                {% for category in categories %}
                <a class="btn btn-outline-light category"
                    href="/category/{{category.name}}">{{category.name}}</a>
                {%endfor%}
            </div>
        </div>
    </div>
   
    <hr>
   
    <div class="container">
        <br><div class="row">
            {% for product in products %}
            <a href="{% url 'product' product.id %}" class="productcard">
                <div class="col-sm-12 col-md-6 col-lg-4 card mb-4">
                    {% cloudinary product.image format="jpg" width=300 height=200 crop="" %}
                    <h5 class="text-info font-weight-bold"><a href="{% url 'product' product.id %}" class="products">{{product.name}}</a></h5>
                    <h6 class="white">Ksh. <strong>{{product.price}}</strong></h6>
                </div>
            
            </a>
            {% endfor %}
        </div><br>
    </div>
    
</div>
{% endblock %}

