{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <div class="categories">
        {% for category in categories %}
        <a class="btn btn-outline-danger"
            href="/category/{{category.name}}">{{category.name}}</a>
        {%endfor%}
    </div>
    <hr>
   
    <div class="container">
        <div class="row">
            {% for product in products %}
            <a href="{% url 'product' product.id %}">
                <div class="col-sm-12 col-md-12 col-lg-5 card mb-4 products">
                    {% cloudinary product.image format="jpg" width=300 height=200 crop="" %}
                    <h5 class="highlight"><a href="{% url 'product' product.id %}">{{product.name}}</a></a></h5>
                    <h6 class="white">Ksh. <strong>{{product.price}}</strong></h6>
                </div>
            </a>
            
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}

