{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4"></div
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <form  action="{%url 'payment'%}" method="post">
                    {%csrf_token%}

                    {% bootstrap_form form layout='inline' %}
                    <input type="submit" value="Submit">
                    </form>
                </div
             <div class="col-sm-12 col-md-12 col-lg-4"></div
            </div
         </div
    

    <h2> </h2>
{% endblock %}