{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="">
    <div class="product">
        <div class="row">
            <div class="col-md-12 col-lg-4 product">
                {% cloudinary product.image format="jpg" width=300 height=200 crop="" %}
            </div>
            <div class="col-md-12 col-lg-8 card mb-8">
                <h3 class="highlight">{{product.name}}</h3>
                <h5>Brand: <strong>{{product.Brand}}</strong></h5>
                <h2 class="text-center"><strong>Ksh. {{product.price}}</strong> </h2>
                {% if not in_cart %}
                    <a href="{% url 'add_cart' product.id %}" class="btn btn-outline-info">Add to Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<br><br><div class="container">
    <h2 class="text-light">PRODUCT DETAILS</h2>
    <p class="text-light">{{product.description}}</p><br><br><br>
    <h2 class="text-light">TECHNICAL SPECIFICATIONS</h2>
    <p class="text-light">{{product.Specifications}}</p>
    <hr>
    <div>
        {% cloudinary product.image1 format="jpg" width=300 height=200 crop="" %}
        {% cloudinary product.image2 format="jpg" width=300 height=200 crop="" %}
        {% cloudinary product.image3 format="jpg" width=300 height=200 crop="" %}
    </div><br><br>
    <hr>
    <div>
        <h2 class="text-light">CUSTOMER FEEDBACK</h2><br>
                <a href="" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Feedback</a>
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Feedback</h5>
                        <button type="button" class="close" data-dismiss="modal" id="mod_cls" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post"  id="Q_A" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form%}
                            <input type="submit" class="btn btn-sm btn-info" value="Post">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for feedback in feedbacks %}
            <div class="col-sm-6 col-lg-12 hoods">
                <h2 class="text-center text-info">{{feedback.title}}</h2>
                <p class="text-light">{{feedback.feedback}}</p>
                <p class="text-light">Posted on {{feedback.date}} ~ by <span class="text-info">{{feedback.user.username}}</span></p> 
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}

