{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load cloudinary %}

{% block content %}
<div class="container">
  <br><div class="row">
    <div class="col-md-12 col-lg-4"></div>
      <div class="col-md-12 col-lg-4">
        <span>{% cloudinary user.profile.profile_picture format="jpg" width=180 height=180 crop="fill"  %}</span>
        <br><h4 class="name highlight">{{user.username}}</h4>
        <p class="text-light"> {{user.email}}</p>
        <p class="text-light"> {{user.profile.phone_number}}</p>
        <p class="text-light font-weight-bold">{{ user.profile.location }}</p>
        <a href="{% url 'update' user.username  %}" class="btn btn-warning btn-lg">Update profile</a>
      </div>
    <div class="col-md-12 col-lg-4"></div>
  </div>
  <hr>
  
</div>
{% endblock %}
